{
  "extends": "next",
  "rules": {
    "react/display-name": "off"
  }
}

// {
//   groups: [
//     // External packages:
//     ['^react', '^@?\\w'],
//     // Internal packages:
//     ['^@(siberiacancode-core/.*|$)'],
//     // Alias imports:
//     ['^@(([\\/.]?\\w)|assets|test-utils)'],
//     // Side effect imports:
//     ['^\\u0000'],
//     // Parent imports:
//     ['^\\.\\.(?!/?$)', '^\\.\\./?$'],
//     // Other relative imports:
//     ['^\\./(?=.*/)(?!/?$)', '^\\.(?!/?$)', '^\\./?$'],
//     // Style imports:
//     ['^.+\\.s?css$']
//   ]
